<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestPractice</title>
    
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />

    @RenderSection("Head", required: false)
</head>
<body>

    @RenderBody()
    <div class="container body-content">

       
    </div>
    <script src="~/lib/jquery3.5.1/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
