@page
@model TestPractice.Pages.ScrollAnimate.ScrollModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Scroll</title>
    <link rel="stylesheet" href="~/css/styles.css">
    
    
</head>
<body>
    <h2>ScrollAnimate</h2>
    <div class="container">
        <!-- Each following `div` correspond to one image -->
        <!-- The images will be set using CSS backgrounds -->
        <div class="image vh-fix"></div>
        <div class="image vh-fix"></div>
        <div class="image vh-fix"></div>
        <div class="image vh-fix"></div>
        <div class="image vh-fix"></div>
        <div class="image vh-fix"></div>
        <div class="image vh-fix"></div>
        <div class="image vh-fix"></div>
        <div class="image vh-fix"></div>
        <div class="image vh-fix"></div>
    </div>
    <script src='~/js/vh-fix.js'></script>
    <script src='~/js/scripts.js'></script>

</body>
</html>
